.button {
  border: none;
  background-color: white;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-transform: lowercase;
  box-shadow: 2px 2px 0px black;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #161616;
  color: white;
  box-shadow: 2px 2px 0px white;
}

.button.button_size_big {
  width: 100%;
}
