.intro {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #1e1e1e;
}
.intro__back {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 20%;
  top: 30%;
}
.intro__image {
  display: grid;
  place-items: center;
}

.intro__wrapper {
  max-width: 450px;
  z-index: 1;
}

.intro__title {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  width: 100%;
  color: white;
  line-height: 1.1;
}

.intro__button {
  width: 100%;
  display: block;
}

.intro__title span {
  font-family: Perfograma, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 34px;
  text-transform: uppercase;
  color: white;
}
