.popup__point-name {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 0 0;
  padding-top: 10px;
}

.popup__point-rating {
  display: flex;
  justify-content: start;
  align-items: center;
}

.popup__point-rate {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 0;
  padding-right: 5px;
  padding-top: 4px;
}
